# Dependencies
node_modules
lib
out

# Build output
broadcast
cache
artifacts

# Coverage
coverage
node_modules
out

# Env files
.env*

# IDE
.vscode
.idea

# Misc
*.log
.DS_Store
.pnp.*
bun.lockb
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock
